body {	
	min-width: 1160px;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
		
	background-color: #ffffff;	
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font: inherit;
	line-height: 18px;
	font-weight: 500;

	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
	border-radius: 3px;

	transition: all .2s ease;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255,255,255,.3);	

	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,.1);
}

/*--- центровщик ---*/
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	position: relative;
	z-index: 1;

	background-color: #eeeeee;
}

.main-navigation {
	min-height: 115px;

	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.main-navigation.container {
	display: flex;
	align-items: flex-end;
}

.main-header-logo {
	width: 160px;
	height: 65px;
	margin-right: 175px;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #fb565a;
}

.main-navigation a:active {
	color: #000000;
	opacity: .3; 
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;

	width: 600px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation a {
	display: block;
	padding: 10px 25px;
}

.cart {
	position: relative;

	max-width: 160px;
	margin-left: auto;
	padding: 10px 0 10px 45px;	
}

.cart::before {
	content: '';

	position: absolute;
	top: 17px;
	left: 4px;

	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
}

.site-navigation-current {
	position: relative;
}

.site-navigation-current::after {
	content: '';

	position: absolute;	
	left: 25px;
	right: 25px;
	bottom: 0;

	height: 2px;

	background: red;
}

.cart.site-navigation-current::after {
	left: 0;
	right: 0;
}


/*--- main ---*/
main h1 {
	margin: 0;
	margin-bottom: 60px;
	padding: 75px 0 105px 0;	

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	color: #000000;

	background-color: #eeeeee;  
}

.content {
	display: flex;
	justify-content: space-between;
}

.features {
	position: relative;

	margin: 0;
	margin-bottom: 80px;

	background-color: #eeeeee;
}

.features-controls .active::before {
	content: '';

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	
	width: 4px;
	height: 4px;
	margin: -4px;

	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.features-controls {
	position: absolute;
	left: 50%;
	bottom: 105px;
	z-index: 1;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.features-controls label {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;	
}

.features-controls label::after {
	content: '';

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;

	background-color: #ffffff;

	border-radius: 50%;
}

.features-controls input:checked + label::before {
	content: '';

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;

	width: 4px;
	height: 4px;
	margin: -4px;

	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.features-controls input[type=radio]:focus + label::after {
	box-shadow: 
		0 0 0 2px rgba(255,255,255,1),
		0 0 0 4px #fc0;
}

.features-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-item {
	display: none;
	padding: 78px 0 80px 0;
}

.feature-item:nth-child(1) {
	display: block;
}

.feature-item:nth-child(1) {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: 93% bottom;
}

.feature-item:nth-child(2) {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.feature-item:nth-child(3) {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.feature-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.feature-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 37px;
}

.feature-item-button {
	display: inline-block;

	padding: 16px 55px;
}


/*--- Направления разработки ---*/

.trends {	
	margin-bottom: 40px;

	border-bottom: 2px solid #eeeeee;
}

.trends-list {
	display: flex;
	
	margin: 0;
	padding: 0;	

	list-style: none;
}

.trends-item {
	position: relative;

	width: 300px;
	margin-left: 100px;
}

.trends-item:first-child {
	margin-left: 0;
}

.trends-item img {
	position: absolute;
	top: 0;
	left: 0;
}

.trends-item h3 {
	margin: 0;
	margin-top: 171px;
	margin-bottom: 14px;
	padding: 0;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;	
}

.trends-item p {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
}

.trends-item-button {
	margin-bottom: 80px;
	padding: 16px 40px;	

	display: inline-block;
}

.btn-green {
	background-color: #00ca74;
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-green:hover,
.btn-green:focus {
	background-color: #00bc6c;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: #eab534;
}

.btn-green:active {
	background-color: #00aa62;
}

.btn-yellow:active {
	background-color: #e5a722;
}



.index-columns {
	display: flex;
	justify-content: space-between;

	padding-bottom: 72px;

	border-bottom: 2px solid #eeeeee;
}

/*--- Описание веб-студии ---*/

.description {
	width: 660px;
}

.description p {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;
}

p.tagline {
	margin: 32px 0 35px 0;
	padding: 0;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

p.development-title {
	margin-bottom: 0;

	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.development-type {
	margin: 0;
	padding: 0;

	list-style: none;
}

.development-type li {
	position: relative;

	margin-top: 24px;
	padding-left: 35px;
}

.development-type li::before {
	content: '';

	position: absolute;
	top: 50%;
	left: 0;

	width: 25px;
	height: 2px;
	margin-top: -1px;

	background-color: #fb565a;
}

/*--- Веб-студия в числах ---*/

.numbers {
	width: 360px;
}

.numbers img {
	margin-bottom: 29px;

	width: 360px;
	height: 208px;
}

.numbers-title {
	margin: 0;
	margin-bottom: 48px;
	padding: 0;

	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.numbers-table {
	line-height: 18px;	
}

.numbers-table tr:nth-child(2) td {
	padding-top: 28px;
}

.numbers-table td {
	margin: 0;
	padding: 0;	

	position: relative;

	width: 33%;
}

.percent {
	font-size: 45px;
	line-height: 25px;
	
	font-weight: 700;
	color: #000000;
}

.percent span {
	position: absolute;
	top: -7px;	

	margin-left: -3px;

	font-size: 28px;	
}


.partners {
	margin: 0;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;	

	/*min-height: 180px;*/
	margin: 0;
	padding: 0;

	list-style: none;

	border-bottom: 2px solid #eeeeee;
}

.partners-list li {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 260px;	
	min-height: 180px;

	text-align: center;
}

.partners-list li:not(:nth-child(4n))::before {
	content: '';

	position: absolute;
	top: 50%;
	right: -19px;

	width: 2px;
	height: 52px;
	margin-top: -26px;

	background-color: #eeeeee;
}

.partners-list a {
	display: block;
}

.partners-list img {	
	opacity: .2;
	transition: opacity .5s ease;
}

.partners-list a:hover img,
.partners-list a:focus img {
	opacity: 1;
}

.partners-list a:active img {
	opacity: .1;
}



/*--- Footer ---*/

.main-footer {
	margin-top: 80px;
}

.inner-footer {
	margin-top: 60px;
}

.footer-map img {
	width: 1440px;
	height: 416px;
	margin: 0 auto;
}

.footer-map {
	margin-bottom: 70px;

	min-height: 416px;

	text-align: center;
	line-height: 0;
}

.footer-map .container {
	position: relative;
}

.footer-map .contacts {
	position: absolute;
	top: 55px;
	
	z-index: 1;

	width: 220px;
	padding: 50px;

	text-align: left;

	background: #fff;
}

.contacts p {
	margin: 0;
	padding: 0;
	margin-bottom: 21px;

	line-height: 18px;
	color: #666666;
}

p.contacts-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.contacts .phone {
	margin-bottom: 35px;
}

.contacts-button {
	display: block;
	padding: 16px;
}

.marker {
	position: absolute;
	top: 75px;
	left: 705px;	
	width: 231px;
	height: 190px;

	background-image: url('../img/map-marker.png');
	background-repeat: no-repeat;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 260px;	
	margin: 0;
	padding: 0;	

	list-style: none;
}

.footer-social a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 78px;
	height: 78px;

	background: #e1e1e1;
	border-radius: 50%;

	transition: all .2s ease;
}

.footer-social svg {
	transition: all .2s ease;
}

.footer-social a:hover,
.footer-social a:focus {
	background-color: #e74246;
}

.footer-social a:active {
	box-shadow: 0 3px 0 0 rgba(0,0,0,.1) inset;
}

.footer-social li:active svg {
	opacity: .3;
}

.footer-social a:focus {
	/*box-shadow: none;*/
}

.social-sale {
	width: 760px;
	padding-top: 6px;

	color: #444444;
}

p {
	margin: 0;
	padding: 0;
}

p.sale-tagline {
	margin-bottom: 8px;	

	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}


/*--- Фильтр ---*/
.filters {
	width: 260px;
}

.filter fieldset {
	margin: 0;
	padding: 0;

	border: none;
}

.filter legend {
	margin-bottom: 13px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter ul {
	margin: 0;
	margin-bottom: 45px;
	padding: 0;
	padding-left: 37px;

	list-style: none;
}

.filter ul li {
	margin-bottom: 16px;
}

.filter ul label {
	color: #283136;
	line-height: 20px;
}

.range-filter {
	margin: 0;
	margin-top: 43px;
	margin-bottom: 55px;
	padding: 0;								

	width: 260px;
	
}

.filter-item {
	margin: 0;
	padding: 0;

	border: none;

	font-family: Roboto, Arial, sans-serif;							
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;

	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f1f1f1;

	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: Roboto, Arial, sans-serif;							
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 5px;
	background: #f1f1f1;							
}

.max-price {
	text-align: right;
}

.filter-radio li {
	position: relative;
}

.filter-radio .indicator-radio {
	position: absolute;
	top: 0;
	left: -35px;

	width: 18px;
	height: 18px;
	
	border: 4px solid #4d4d4d;
	border-radius: 50%;

	opacity: .4;
}

.filter-radio input[type=radio]:checked + .indicator-radio::before {
	content: '';

	position: absolute;
	top: 4px;
	left: 4px;
	
	width: 10px;
	height: 10px;

	background: #4d4d4d;
	border-radius: 50%;	
}

.filter-radio input[type=radio]:focus + .indicator-radio {
	box-shadow: 
		0 0 0 2px white, 
		0 0 0 4px #fc0;
	
	opacity: 1;		
}

.filter-radio input[type=radio]:disabled + .indicator-radio,
.filter-radio input[type=radio]:disabled + .indicator-radio + span {
	opacity: .2;
} 

.filter-radio li:hover .indicator-radio,
.filter-radio li:hover label {
	color: #000000;

	opacity: 1;
}

.filter-checkbox li {
	position: relative;
}

.filter-checkbox .indicator-checkbox {
	position: absolute;
	left: -35px;

	width: 27px;
	height: 23px;

	background-image: url('../img/checkbox-off.svg');
	background-repeat: no-repeat;

	opacity: .4;
}

.filter-checkbox li:hover .indicator-checkbox {
	opacity: 1;
}

.filter-checkbox li:hover label {
	color: #000000;
}

.filter-checkbox input[type=checkbox]:disabled + .indicator-checkbox,
.filter-checkbox input[type=checkbox]:disabled + .indicator-checkbox + span {
	opacity: .2;
}

.filter-checkbox input[type=checkbox]:focus + .indicator-checkbox {
	box-shadow: 
		0 0 0 2px white, 
		0 0 0 4px #fc0;
	
	opacity: 1;		
}

.filter-checkbox input[type=checkbox]:checked + .indicator-checkbox {
	background-image: url('../img/checkbox-on.svg');
}

.filter-button {
	width: 100%;
	padding: 16px 0;

	color: #000000;

	background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: #a9a9a9;

	background-color: #d5d5d5;
}


.right-column {
	width: 760px;	
}

.sort {
	display: flex;	
	margin-bottom: 51px;
}

.sort p {
	width: 200px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.sort-list {	
	display: flex;
	flex-wrap: wrap;
	
	width: 360px;
	margin: 0;
	margin-left: auto;
	padding: 0;

	text-transform: uppercase;

	list-style: none;
}

.sort-list a {
	font-size: 14px;
	color: #000000;

	opacity: .3;
}

.sort-item {
	margin-right: 26px;	
}

.sort-item a:hover,
.sort-item a:focus {
	opacity: .6;
}

.sort-item a:active {
	opacity: 1;
} 

.icon-down,
.icon-up {
	margin: 0;
}

.icon-down {
	margin-left: auto;
	margin-right: 18px;	
}

.sort-item-current a {
	opacity: 1;
}

/*--- Шаблоны сайтов ---*/

.templates {
	
}

.templates-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	margin-bottom: 27px;
	padding: 0;

	line-height: 0;
	list-style: none;
}

.template-item {
	position: relative;

	width: 360px;
	margin-bottom: 33px;
	padding-top: 40px;	
}

.template-item::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 360px;
	height: 40px;

	background-image: url('../img/browser.svg');
	background-repeat: no-repeat;

	opacity: .12;
	transition: opacity .2s ease;
}

.template-item:hover {
	box-shadow: 4px 6px 5px 0px rgba(0,0,0,.25);
}

.template-item:hover .template-desc {
	opacity: 1;

}

.template-item:hover::before {
	opacity: 1;
}

.template-desc {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	
	opacity: 0;

	text-align: center;

	background: #eeeeee;
	transition: all .2s ease;	
}

.template-desc h3 {
	margin: 30px 0 15px 0;	

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;	
}

.template-desc h3 > a {
	color: #000000;
}

.template-desc p {
	width: 240px;
	margin: 0 auto 30px auto;

	line-height: 18px;
	color: #666666;
}

.button-template {
	display: block;
	
	width: 180px;
	margin: 0 auto 40px auto;
	padding: 16px 10px;
}

.button-template:active {
	color: #ffffff;
}

.pagination-list {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
	text-align: center;	
}

.pagination-list a {
	display: block;
	padding: 16px 20px;
	margin-right: 11px;

	line-height: 18px;
	color: #000000;	
}

.next a {
	padding: 16px 80px;
}

.pagination-item a {
	text-transform: uppercase;

	background-color: #eeeeee;	
	border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {	
	background-color: #dfdfdf;	
}

.pagination-item-current a,
.pagination-item-current a:hover {
	background-color: transparent;	
	box-shadow: inset 0 0 0 3px #dbdbdb;
}

.pagination-item a:active {	
	color: rgba(0,0,0,.3);

	background-color: #d5d5d5;		
	box-shadow: inset 0 3px 0 0 rgba(0,0,0,.1);
}


/*--- Модальное окно ---*/

.modal {	
	position: fixed;
	left: 50%;
	bottom: 180px;
	z-index: 2;
	
	display: none;
	width: 760px;
	margin-left: -480px;
	padding: 65px 100px 85px 100px;

	background-color: #ffffff;
	box-shadow: 0px 7px 5px 5px rgba(0,0,0,0.3);
}

.modal h2 {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.message-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.message-item {
	width: 360px;
	margin: 0;
	margin-bottom: 35px;
	padding: 0;

	line-height: 0;
}

.message-item label {
	display: block;
	margin-bottom: 10px;

	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.message-item input,
.message-item textarea {
	width: 100%;
	margin: 0;
	padding: 12px 13px;	
	box-sizing: border-box;	

	font: inherit;
	line-height: 18px;
	color: #a1a1a1;

	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.message-item input:hover,
.message-item textarea:hover {
	border-color: #b4b9bb;
}

.message-item input:focus,
.message-item textarea:focus {
	color: #000000;

	border-color: #000000;	
}

.message-item input:invalid {
	color: #e74246;

	border-color: #e74246;
}

.text-letter {
	width: 100%;
	margin-bottom: 45px;
}

.message-form-button {
	width: 260px;
	padding: 16px;
}

.modal-close {
	position: absolute;
	top: 75px;
	right: 90px;	

	width: 21px;
	height: 21px;
	margin: 0;
	padding: 0;
	
	background: transparent;
	border: 0;

	opacity: .3;
	cursor: pointer;
	transition: opacity .3s ease;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: .1;
}

.modal-close::before,
.modal-close::after {
	content: '';

	position: absolute;
	top: 9px;
	left: -3px;
	width: 27px;
	height: 3px;

	background-color: #fb565a;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;

	display: none;

	background: rgba(0,0,0,.5);
}

.modal-show,
.overlay-show {
	display: block;
}

.modal-show {
	animation-name: bounce;
	animation-duration: .6s;
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.modal-error {
	animation-name: shake;
	animation-duration: .6s;
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		transform: translateX(10px);
	}
}